<div class="op-container d-flex justify-content-center">
  <div class="operations">
    <header>
      <h2>Operations:</h2>
    </header>
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="btn" >RESET</button>
      </li>
      <li class="nav-item">
        <button class="btn">START</button>
      </li>
      <li class="nav-item">
        <button class="btn">STOP</button>
      </li>
      <li class="nav-item">
        <button class="btn">ABORT</button>
      </li>
      <li class="nav-item">
        <button class="btn">CLEAR</button>
      </li>
    </ul>

  </div>
</div>
