.op-container{
  background-color:	#131d34;
  min-height: 440px;
  border-radius: 6px;
  padding: 2px;
}

.operations{
  background-color: #131d34;
}

.operations button{
  background-color: #0088cc;
  border: 1px solid blue;
  width: 100%;
  color: black;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}

.operations button:hover{
  background-color: #125699;
}

header h2{
  background-color: #131d34;
  color: white;
  text-align: left;
}
