<div class="op-container d-flex justify-content-center">
  <div class="operations">
    <header>
      <h2>Operations:</h2>
    </header>
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="btn" (click)="reset()">RESET</button>
      </li>
      <li class="nav-item">
        <button class="btn" (click)="start()">START</button>
      </li>
      <li class="nav-item">
        <button class="btn" (click)="stop()">STOP</button>
      </li>
      <li class="nav-item">
        <button class="btn" (click)="abort()">ABORT</button>
      </li>
      <li class="nav-item">
        <button class="btn" (click)="clear()">CLEAR</button>
      </li>
    </ul>

  </div>
</div>
