* {
  background-color: #24305E;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

h1{
  background-color: #374785;
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  border-radius: 6px;
}

p{
  background-color: #374785;
  color: white;
  margin-bottom: 3px;
}
