
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
    <h1>Dashboard</h1>
    </div>
  </div>

<div class="row">
  <div class="col-md-2 col-lg-2">
    <app-op-view></app-op-view>
  </div>
  <div class="col-md-3 col-lg-3">
    <app-create-batch-view></app-create-batch-view>
  </div>
  <div class="col-md-5 col-lg-5">
    <app-ing-view></app-ing-view>
  </div>
  <div class="col-md-2 col-lg-2">
    <app-mt-bar></app-mt-bar>
  </div>
</div>

<div class="row">
  <div class="col-md-12 pt-2">
    <app-live-data-view></app-live-data-view>
  </div>
</div>

<div class="row">
  <div class="col-md-12 pt-2">
    <app-report-view></app-report-view>
  </div>
</div>
</div>
