.createBatch-container{
  background-color:	#374785;
  min-height: 440px;
  border-radius: 6px;
  padding: 2px;
}
.createBatch{
  background-color: #374785;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.createBatch>form{
  background-color: #374785;
}
.createBatch>form>input{
  background-color: #979797;
}
.createBatch>form>label{
  background-color: #374785;
}

header h2{
  background-color: #374785;
  color: white;
  text-align: left;
}
