<div class="createBatch-container">
  <div class="createBatch">
    <header>
      <h2>Create new batch:</h2>
    </header>
    <form>
      <label for="pType">ProductType:</label><br>
      <input type="text" id="pType" name="pType"><br><br><br>
      <label for="bID">Batch ID:</label><br>
      <input type="text" id="bID" name="bID"><br><br><br>
      <label for="pAmount">Product amount:</label><br>
      <input type="text" id="pAmount" name="pAmount"><br><br><br>
      <label for="mSpeed">Machine speed:</label><br>
      <input type="text" id="mSpeed" name="mSpeed">
    </form>
  </div>
</div>
