<div class="createBatch-container">
  <div class="createBatch">
    <header>
      <h2>Create new batch:</h2>
    </header>
    <form>
      <div class="form-group">
        <label for="pType">ProductType:</label>
        <input type="text" id="pType" class="form-control" name="pType" [(ngModel)]="productType">
      </div>
      <div class="form-group">
        <label for="bID">Batch ID:</label>
        <input type="text" id="bID" class="form-control" name="bID" [(ngModel)]="batchId">
      </div>
      <div>
        <label for="pAmount">Product amount:</label>
        <input type="text" id="pAmount" class="form-control" name="pAmount" [(ngModel)]="productAmount">
      </div>
      <div>
        <label for="mSpeed">Machine speed:</label>
        <input type="text" id="mSpeed" class="form-control" name="mSpeed" [(ngModel)]="machineSpeed">
      </div>
    </form>
    <button class="btn btn-danger" style="margin-top: 10px" (click)="insertBatch()">Select</button>
  </div>
</div>
