.container{
  background-color: #374785;
  border-radius: 6px;
}

.container div div{
  background-color: #374785;
  border-color: #374785;
}

.container .card-body{
  background-color: #374785;
  border-radius: 6px;
}

.container label{
  color: white;
}

.batchReport{
  background-color:	#374785;
  height: 245px;
  border-radius: 6px;
}
.batchReport>table{
  height: 20px;
  border-radius: 6px;
  color: white;
  text-align: left;
}

h2{
  background-color: #374785;
  color: white;
  margin: 2px;
  text-align: center;
}


