<div class="ing-container">
  <div class="ingredients">
    <header>
      <h2>Ingredients: </h2>
    </header>

    <ul class="list-group">
      <li class="list-group-item">
        <p>Barley:</p>
        <div class="barleyBar">
          <div>40%</div>
        </div>
      </li>
      <li class="list-group-item">
        <p>Hops:</p>
        <div class="hopsBar">
          <div>25%</div>
        </div>
      </li>
      <li class="list-group-item">
        <p>Malt:</p>
        <div class="maltBar">
          <div>95%</div>
        </div>
      </li>
      <li class="list-group-item">
        <p>Wheat:</p>
        <div class="wheatBar">
          <div>95%</div>
        </div>
      </li>
      <li class="list-group-item">
        <p>Yeast:</p>
        <div class="yeastBar">
          <div>57%</div>
        </div>
      </li>
    </ul>

  </div>
</div>
