<div class="batchData">
  <h2>Live batch data:</h2>

  <div class="data-grid-container">
    <div class="grid-data">Temperature:</div>
    <div class="grid-data">Humidity:</div>
    <div class="grid-data">Vibration:</div>
    <div class="grid-data">Batch ID:</div>
    <div class="grid-data">Amount to produce:</div>
    <div class="grid-data">Products per minute:</div>
    <div class="grid-data">Produced:</div>
    <div class="grid-data">Acceptable:</div>
    <div class="grid-data">Defected products:</div>
  </div>
</div>
