<div class="batchData">
  <h2>Live batch data:</h2>

  <div class="data-grid-container">
    <div class="grid-data">Temperature: {{data?.temperature}}°C</div>
    <div class="grid-data">Humidity: {{data?.humidity}}%</div>
    <div class="grid-data">Vibration: {{data?.vibration}}</div>
    <div class="grid-data">Batch ID: {{data?.batchID}}</div>
    <div class="grid-data">Amount to produce: {{data?.amount}}</div>
    <div class="grid-data">Products per minute: {{data?.machSpeed}}</div>
    <div class="grid-data">Produced: {{data?.produced}}</div>
    <div class="grid-data">Acceptable: {{data?.accepted}}</div>
    <div class="grid-data">Defected products: {{data?.defective}}</div>
  </div>
</div>
