<div class="createBatch-container">
  <div class="createBatch">
    <header>
      <h2>Create new batch:</h2>
    </header>
    <form #addForm = "ngForm" (ngSubmit)="onAddBatch(addForm)">
      <div class="form-group">
        <label for="bID">Batch ID:</label>
        <input type="text" id="bID" class="form-control" ngModel name="id" [(ngModel)]="batchId" placeholder="Insert Batch ID">
      </div>
      <div class="form-group">
        <label for="pType">ProductType:</label>
        <select class="form-select" aria-label="Default select example" id="pType" ngModel name="productType" [(ngModel)]="productType">
          <option [ngValue]="undefined" [disabled]="true" >Select product type</option>
          <option [ngValue]="0">Pilsner</option>
          <option [ngValue]="1">Wheat</option>
          <option [ngValue]="2">IPA</option>
          <option [ngValue]="3">Stout</option>
          <option [ngValue]="4">Ale</option>
          <option [ngValue]="5">Alcohol Free</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mSpeed">Machine speed:</label>
        <input type="text" id="mSpeed" class="form-control" ngModel name="machSpeed" [(ngModel)]="machineSpeed" placeholder="Insert machine speed">
      </div>
      <div class="form-group">
        <label for="pAmount">Product amount:</label>
        <input type="text" id="pAmount" class="form-control" ngModel name="amount" [(ngModel)]="productAmount" placeholder="Insert product amount">
      </div>
    </form>
    <button class="btn btn-danger" type="submit" [disabled]="!isIdle" style="margin-top: 10px" (click)="onAddBatch(addForm)">Select</button>
    <br>
    <button class="btn btn-danger" type="submit" [disabled]="!isIdle" style="margin-top: 10px" (click)="onGenerateReport()">Generate Batch Report</button>
  </div>
</div>
