<div class="createBatch-container">
  <div class="createBatch">
    <header>
      <h2>Create new batch:</h2>
    </header>
    <form #addForm = "ngForm" (ngSubmit)="onAddBatch(addForm)">
      <div class="form-group">
        <label for="bID">Batch ID:</label>
        <input type="text" id="bID" class="form-control" ngModel name="id" [(ngModel)]="batchId">
      </div>
      <div class="form-group">
        <label for="pType">ProductType:</label>
        <input type="text" id="pType" class="form-control" ngModel name="productType" [(ngModel)]="productType">
      </div>
      <div class="form-group">
        <label for="mSpeed">Machine speed:</label>
        <input type="text" id="mSpeed" class="form-control" ngModel name="machSpeed" [(ngModel)]="machineSpeed">
      </div>
      <div class="form-group">
        <label for="pAmount">Product amount:</label>
        <input type="text" id="pAmount" class="form-control" ngModel name="amount" [(ngModel)]="productAmount">
      </div>
    </form>
    <button class="btn btn-danger" type="submit" [disabled]="!isIdle" style="margin-top: 10px" (click)="onAddBatch(addForm)">Select</button>
  </div>
</div>
