<div class="batchReport">
  <h2>Batch report:</h2>
  <table class="table">
    <tr>
      <th>Batch ID:</th>
      <td>###</td>
    </tr>
    <tr>
      <th>Product type:</th>
      <td>###</td>
    </tr>
    <tr>
      <th>Total amount of products:</th>
      <td>###</td>
    </tr>
    <tr>
      <th>Amount of defective products:</th>
      <td>###</td>
    </tr>
    <tr>
      <th>Amount of accepted products:</th>
      <td>###</td>
    </tr>
    <tr>
      <th>Temperature log:</th>
      <td>###</td>
    </tr>
    <tr>
      <th>Humidity log:</th>
      <td>###</td>
    </tr>
  </table>
</div>
